# Gradle files
.gradle/
build/

# Local config
local.properties

# Logs
*.log

# Android Studio
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Keystores
*.jks
*.keystore

# Firebase/Google services
google-services.json

# Misc OS files
.DS_Store
